body,button,input,select,textarea{color:#333;font-family:Arial,Verdana,sans-serif;font-size:14px;line-height:1.5}.post-content
h1{}.post-content
h2{}.post-content
h3{}.post-content
h4{}.post-content
h5{}.post-content
h6{}.post-content
p{}.post-content
ul{}.post-content
ol{}.post-content
blockquote{}.post-content
pre{}.post-content
address{}.post-content
address{}.post-content
strong{}.post-content
em{}.post-content
acronym{}.post-content
code{}.post-content
del{}.post-content
ins{}.alignleft{display:inline;float:left}.aligncenter{clear:both;display:block;margin-left:auto;margin-right:auto}.alignright{display:inline;float:right}.size-auto{}.size-medium{}.size-large{}.size-full{}.wp-caption{}.wp-caption
img{}.gallery{}.gallery .gallery-item{}